Repository metomi/rose, pull requests merged in 2020-11, with the labels that each got.

#2418 Fix broken checkbox in rosie suites discovery
  lib/html/static/js/rosie-disco.js
Labels: Small, bug

#2419 Fix broken checkbox in rosie suites discovery (master branch)
  .gitignore
  metomi/rosie/lib/html/static/js/rosie-disco.js
Labels: Small, bug

#2416 doc: upgrade cylc-sphinx-extensions version
  bin/rose-date
  etc/rose.conf.example
  metomi/rose/etc/rose-meta/rose_bunch/HEAD/rose-meta.conf
  metomi/rose/etc/rose_bunch/HEAD/rose-meta.conf
  setup.py
  sphinx/api/built-in/rose_arch.rst
  sphinx/api/configuration/metadata.rst
  sphinx/api/rose-gtk-library.rst
  sphinx/cheat-sheet.rst
  sphinx/conf.py
  sphinx/developing/autodoc.rst
  sphinx/developing/domains.rst
  sphinx/developing/restructuredtext.rst
  sphinx/developing/slides.rst
  sphinx/getting-started.rst
  sphinx/glossary.rst
  sphinx/hyperlinks.rst
  sphinx/tutorial/cylc/runtime/configuration-consolidation/jinja2.rst
  sphinx/tutorial/cylc/runtime/runtime-configuration.rst
  sphinx/tutorial/cylc/scheduling/further-scheduling.rst
  sphinx/tutorial/rose/furthertopics/index.rst
  sphinx/tutorial/rose/furthertopics/rose-arch.rst
  sphinx/tutorial/rose/furthertopics/widget-development.rst
  sphinx/tutorial/rose/rosie.rst
Labels: doc

#2417 Address pre-/post-commit hook issues
  .gitignore
  lib/python/rose/config.py
  lib/python/rosie/db_create.py
  lib/python/rosie/svn_hook.py
  lib/python/rosie/svn_post_commit.py
  lib/python/rosie/svn_pre_commit.py
  t/rosa-svn-post-commit/03-unicode.t
  t/rosa-svn-pre-commit/00-basic.t
  t/rose-config/02-self.py
Labels: bug, rosie
