Repository metomi/rose, pull requests merged in 2024-03, with the labels that each got.

#2765 Fix unescaped content injection in rosie disco
  CHANGES.md
  lib/html/template/rosie-disco/prefix-index.html
Labels: bug, rosie, small

#2766 Fix unescaped content injection in rosie disco
  metomi/rosie/lib/html/template/rosie-disco/prefix-index.html
Labels: rosie, small

#2769 Cherry-pick GH Actions changes from master
  .github/workflows/test.yml
  setup.cfg
  tox.ini
Labels: infrastructure

#2771 Docs: fix misleading tip
  sphinx/tutorial/rose/metadata.rst
Labels: doc, small
